@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-variant-ligatures: var(--font-inter), var(--font-suwannaphum) !important;
}

h1 {
	font-variant-ligatures: var(--font-osaka-re);
}

.none-scroll-bar::-webkit-scrollbar {
	display: none;
}
